<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="MODULE_NAME" value="spring-boot-admin"/>
    <property name="LOG_PATH" value="/var/log"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %highlight%p %logger{0} %M %L - %m %n</pattern>
        </encoder>
    </appender>
    <appender name="FILE_LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
        </filter>

        <file>${LOG_PATH}/${MODULE_NAME}/${MODULE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${MODULE_NAME}/${MODULE_NAME}.%d{yyyy-MM-dd}.zip
            </fileNamePattern>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%t] %highlight%p %logger{0} %M %L - %m %n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_LOG"/>
    </root>
</configuration>